body {
    font-family: Arial, sans-serif;
    background-color:aqua;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0,1);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    cursor: pointer;
    padding: 5px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: steelblue;
}
